html,
body {
    background-color: black;
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: rgba(255, 245, 238, 0.8);
    text-align: center;
}

header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 69px;
    border-bottom: 1px solid seashell;
    background-color: black;
    align-items: center;
    justify-content: space-between;
}

header img {
    height: 50px;
    padding-left: 10px;
    opacity: 0.9;
}

.nav {
    opacity: 0.9;
    text-align: center;
    margin-right: 10px;
}

.nav li {
    display: inline-block;
    text-decoration: underline;
    padding-left: 10px;
}

li a {
    color: rgba(255, 245, 238, 0.8);
}

.mission {
    display: flex;
    background-image: url(./resources/img-mission-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 1200px;
    height: 700px;
    margin: 70px auto 0 auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mission h2,
h4 {
    width: 100%;
    background-color: black;
    margin: 0;
    padding: 10px 0;
}

.container {
    display: flex;
    max-width: 1000px;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;

}

.img-with-text {
    padding: 16px;
}

.img-with-text img {
    max-width: 300px;
    max-height: 200px;
}

.text-array h4 {
    padding-top: 0;
}

.locations {
    display: flex;
    max-width: 1200px;
    min-height: 550px;
    width: 100%;
    background-image: url(resources/img-locations-background.jpg);
    background-position: top;
    background-repeat: repeat;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.locations h2 {
    margin-top: 0;
    margin-bottom: 15px;
    padding: 0;
    padding-top: 20px;
}

.adr-container {
    margin: 0 auto;
    padding: 0;
    max-width: 1200px; 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-wrap: wrap;
    
}

.adresses {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    min-width: 300px;
    min-height: 300px;
    background-color: black;
    padding: 0px;
    margin: 0 20px 10px 20px;
}

footer {
    min-height: 200px;
    width: 100%;
    margin: 0;
    padding: 0;
}

.left-align {
    text-align: left;
    margin-left: 10px;
    font-size: 0.92rem;
    color: rgba(255, 245, 238, 0.8);
}